/* Global settings */
html {
    font-size: 62.5%;
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/* Variables */
:root {
    --primary-color: #45ac75;
    --blend-mode: #29ec84;
    --secondary-color: #1c1c1c;
    --subtitle: #d9d9d9;
    --font-size: 1.6rem;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative
    /* background-color: pink; */
}

/*Display flex*/
.d-flex {
    display: flex;
}

.content-sb {
    justify-content: space-between;
    align-items: center;
}

/*Images*/
img {
    max-width: 100%;
    height: auto;
}

/*Styles*/
body {
    background-image: url("../images/Texture Fill Bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

/*Header*/
 header {
    padding: 50px 0px 0px 0px;
}

/*Logo*/
.logo {
    width: 50px;
    height: auto;
}

/*Navigation*/
.navigation {
    list-style: none;
}

.navigation__li {
    padding: 5px 25px;
    position: relative;
    transition: all 0.2s ease-in-out;
    margin-left: 30px;
}

.navigation__li:hover .navigation__link {
    color: white;
}

.navigation__li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.navigation__li:hover::before {
    background: black;
    z-index: -1;
    transform: scale(1);

}

.navigation--li--active {
    background-color: black;
}

.navigation__link {
    color: var(--secondary-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.navigation--link--active {
    color: white;
}

.hamburger-icon {
    display: none;
}
/*Media queries*/
@media (max-width: 768px) {
    .hamburger-icon {
        display: flex;
    }

    .navigation {
        flex-direction: column;
    }
}
/*Section by bike is better*/
.by-bike-is-better {
   
    text-align: right;
    padding-bottom: 20px;
}

.by-bike-is-better h2 {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    
}


/*Content*/
.content {
    background-color: var(--secondary-color);
    padding: 80px 0px;
    margin-top: 150px;
}

.content__left-side {
    flex: 50%;
}
    

.content__left-side--curved-text {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 2.8rem;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    text-align: center;

}

.content__left-side--curved-text span {
    font-weight: 800;
    font-size: 2.8rem;
}

.content__left-side--line-circle {
    position: absolute;
    width: 150px;
    top: -60%;
    left: 10%;
    z-index: 5;
}
.content__left-side--circle {
    background-image: url("../images/Layer\ 1.jpg");
    background-size: cover;
    background-position: 31px -101px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    transform: translateY(8%);
    left: 5%;
    overflow: hidden;
}

.content__left-side--circle::after {
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    height: inherit;
    background-color: var(--primary-color);
    mix-blend-mode: multiply;
}

.content__right-side {
    width: 200px;
    height: 100%;
    flex: 50%;
    padding-right: 80px;
}

.content__right-side__holder {
    flex-wrap: wrap;
    align-items: end;
}

.content__right-side__holder--title h1 {
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    line-height: 0.9em;
    
}

.content__right-side__holder--title h2 {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-transform: uppercase;
    position: absolute;
    top: -50%;
    
}

.content__right-side__holder--title h1 span {
    color: var(--primary-color);
    font-size: 8rem;
}

.content__right-side__holder--button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    outline: 0px;
    border: none;
    padding: 15px 25px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 8px;
    cursor: pointer;
}

.content__right-side__text {
    color: var(--subtitle);
    line-height: 1.2em;
    margin-top: 20px;
}


.content__right-side_float-circle{
    position: absolute;
}

.content__right-side_float-circle.xs-circle {
    width: 70px;
    height: 70px;
    background-image: url("../images/xs-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -60%;
    right: 12%;
}

.content__right-side_float-circle.s-circle {
    width: 100px;
    height: 100px;
    background-image: url("../images/s-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: -40%;
    right: 0%;
}

.content__right-side_float-circle.m-circle {
    width: 130px;
    height: 130px;
    background-image: url("../images/m-circle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0%;
}

/*Footer*/
.footer {
    height: 200px;
    width: 100%;
    background-color: pink;
}